# Dependencies
node_modules
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Vite build output
dist
dist-ssr

# Environment files
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Local Netlify folder
.netlify

# backend
__pycache__/

# Django / Python
*.pyc
*.sqlite3
db.sqlite3

# Virtualenv
.venv
venv
env

# testing files
setup_database.py/
simple_test.py/
test_system.py/
check_db_data.py
create_embeddings.py
fix_neon_connection.py
inspect_user_db.py
manual_data_insert.py
test_basic_query.py
test_cloud_db.py
test_system.py
test_rag_fixes.py
test_db_connection.py
test_llm_embedding.py
test_what_is_argo.py
test_fast_query.py
src=rag_pipeline.py
backend/update_admin.py
netcdf