gunicorn
django
djangorestframework
djangorestframework-simplejwt
whitenoise
psycopg2-binary
dj-database-url==0.5.0
django-cors-headers
requests
pillow
python-decouple
pgvector
numpy
groq
sqlalchemy
asyncpg
aiofiles
python-multipart
fastapi==0.104.1
uvicorn==0.24.0
websockets==12.0
pydantic==2.5.0
netCDF4==1.7.2
xarray==2024.9.0
pandas==2.2.2
matplotlib==3.9.2
plotly==5.24.1
sentence-transformers==2.7.0
celery==5.3.4
redis==5.0.1
python-dotenv==1.0.1
