gunicorn
django
djangorestframework
djangorestframework-simplejwt
whitenoise
psycopg2-binary
dj-database-url==0.5.0
django-cors-headers
requests
pillow
python-decouple
pgvector
numpy
groq
sqlalchemy
asyncpg
aiofiles
python-multipart
